.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/ChangeIp.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/description.html
.idea/libraries/javax_mail_mail_1_4_6.xml
Project1.iml
out/production/Project1/dvimer/ChangeIp.class
out/production/Project1/dvimer/Pair.class
out/production/Project1/dvimer/Task2.class
